.charactersList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  list-style: none;
}
.character {
  background-color: lightgray;
  margin: 10px 0;
  padding: 0 10px;
}
